 @media (max-width: 1380px) {
    .movie-card-description {
        
        font-size: 1.5rem;
    }

    .movie-card-description p {
        font-size: 1.15rem;
    }
}


@media (max-width: 1175px) {
    header h1 {
        font-size: 2.4rem;
    }

    header nav ul li a {
        font-size: 1.8rem;
    }

    section article {
        margin: 120px auto;
        width: 27%;
    }

    .movie-card-description {
        height: 52vh;
        font-size: 1.5rem;
    }

    .movie-card-description p {
        font-size: 1.2rem;
    }
    
}

@media (max-width: 1035px) {
    header div {
        height: 10vh;
    }
    
    header h1 {
        font-size: 2rem;
    }

    header nav ul li a {
        font-size: 1.4rem;
    }

    .movie-card a > img:hover {
    
        transform: scale(1.1);
    }

    .movie-card-description {
        height: 60vh;
        font-size: 1.5rem;
    }

    .movie-card-description p {
        font-size: 1.5rem;
    } 
    
} 

 @media (max-width: 980px) {
    header div {
        height: 10vh;
    }
    
    header h1 {
        font-size: 2rem;
    }

    header nav ul li a {
        font-size: 1.3rem;
    }

    

    .movie-card-description {
        height: 50vh;
        font-size: 1.5rem;
    }

    .movie-card-description p {
        font-size: 1.2rem;
    }
    
}

@media (max-width: 900px) {
    header div {
        height: 10vh;
    }
    
    header h1 {
        font-size: 1.4rem;
    }

    header nav ul li a {
        font-size: 1.2rem;
    }

    .movie-card-description {
        height: 55vh;
        font-size: 1.5rem;
    }

    .movie-card-description p {
        font-size: 1.2rem;
    }
    
}

@media (max-width: 830px) {
    header div {
        height: 10vh;
    }
    
    header h1 {
        font-size: 1.5rem;
    }

    header nav ul li a {
        font-size: 1.1rem;
    }

    .movie-card-description {
        height: 54vh;
        font-size: 1.5rem;
    }

    .movie-card-description p {
        font-size: 1rem;
    }
    
}

@media (max-width: 800px) {
    header div {
        height: 12vh;
    }
    
    header h1 {
        font-size: 1.4rem;
    }

    header nav ul li a {
        font-size: 1rem;
    }

    .movie-card-description {
        height: 50vh;
        font-size: 1.5rem;
    }

    .movie-card-description p {
        font-size: 1rem;
    }
    
}

@media (max-width: 768px) {
    header {
        position: absolute;
        top: 0;
        left: 0;
        
    }

    header div {
        display: block;
        height: 18vh;
        padding: 0;

    }

    header h1 {
        font-size: 3rem;
  
        padding-bottom: 30px;
    }

    header nav {
        padding-left: 8%;
    }

 

    header nav ul li a {
        font-size: 1.2rem;
        padding: 35px;
    }
    
    section {
        display: block;
        width: 100%;
    }

    section article {
        margin: 190px auto;
        width: 50%;
    }

    .movie-card-description {
        height: 50vh;
        font-size: 1.6rem;
    }

    .movie-card-description p {
        font-size: 1.1rem;
    }
    
}

@media (max-width: 500px) {
    header div {
        display: block;
        height: 15vh;
        padding: 0;
        
    }

    header h1 {
        font-size: 3rem;
        padding-bottom: 20px;
    }

    header nav {
        padding-left: 0%;
    }

 

    header nav ul li a {
        font-size: 2rem;
        padding: 20px;
    }


    header nav ul li a {
        font-size: 1rem;
    }

    .movie-card-description {
        height: 60vh;
        font-size: 2rem;
    }

    .movie-card-description p {
        font-size: 1.2rem;
    }
    
} 

@media (max-width: 430px) {

    header {
        margin-bottom: 10px;
    }

    header div {
        display: block;
        height: 8vh;
        margin-bottom: 10px;
        
    }

    header h1 {
        font-size: 1.7rem;
        padding-bottom: 10px;
    }


 

    header nav ul li a {
        font-size: 1.3rem;
        padding: 10px;
    }

    section article {
        margin: 150px auto;
        width: 60%;
    }


    .movie-card-description {
        height: 40vh;
        font-size: 1.4rem;
    }

    .movie-card-description img {
        width: 6vw;
    }

    .movie-card-description p {
        font-size: 1.2rem;
    }
    
} 