@media (max-width: 1146px) {
    section {
        display: block;
    }
    header {
        position: absolute;
        top: 0;
        left: 0;
    }
    header div {
        display: block;
        height: 12vh;
        padding: 0;
    }
    header h1 {
        font-size: 6rem;
    }
    header nav {
        display: none;
    }

    section article {
        margin: 138px auto;
        width: 45%;
    }
    
    .movie-card-description p {
        font-size: 1.8rem;
    }
}

@media (max-width: 430px) {
    header div {
        height: 10vh;
    }
    header h1 {
        font-size: 4rem;
    }
    section article {
        margin: 138px auto;
        width: 75%;
    }
    .movie-card-description p {
        font-size: 1.4rem;
    }
}